/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	height: 500px;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
/****** Fin du CSS du projet original ******/


/* CSS bouton login */
#loginDiv {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

#loginHeader {
	margin: 50px 0px 50px 0px;
}

/****** CSS page login ******/
.inputTitle {
	width: 175px;
}

.inputText {
	border: 0;
	box-shadow: 0px 0px 10px #D3D3D3; 
	margin: 10px 0px 30px;
	height: 40px;
	width: 280px;
}

#submitDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#connectButton {
	width: 150px;
	height: 40px;
	margin: 10px 0px 0px 0px;
	justify-content: center;
}

#mdpButton {
	margin: 20px 0px 0px 0px;
}

#mdpButton:active {
	color: black !important;
}

#mdpButton:visited {
	color: black !important;
}

#mdpButton:link {
	color: black !important;
}

.linkButtons:link{
	color: black;
	text-decoration: none;
}

.linkButtons:visited,
.linkButtons:active {
	color: black;

}

.linkButtons:hover {
	color:#B1663C
}

#loginLoginPage:link {
	font-weight: bold;
}

#logoutButton {
	display: none;
	margin: 0px 0px 0px -20px;
	padding: 0px;
}

#errorMessage {
	border: 2px solid pink;
	margin: 0px 0px 20px 0px;
	padding : 5px;
	color: red;
	background-color: #FFDED7;
	font-weight: bold;
	display: none;

}

/***** CSS page accueil apres login *****/
#projetsDiv {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
}

#projetsHeader {
	margin: 20px;
}

#modifierLogo {
	margin: 0px 5px 0px 0px;
}

#modifierButton {
	text-decoration: none;
	color: black;
}

/***** CSS fenetre modale *****/
#boiteModal {
	position: fixed;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	display: none;
	justify-content: center;
	align-items: center;
}

#modal{
	display: flex;
	background: white;
	flex-direction: column;
	width: 40%;
	border-radius: 5px;
	text-align: center;
	z-index: 3;
}

#closeDiv {
	text-align: right;
	margin: 10px 10px 5px 10px;
}

#modalClose {
	border: none;
	background: white;
	height: 10px;
	font-weight: bold;
	cursor: pointer;
}

#modal h3 {
	font-size: 1.5em;
	margin: 10px 0px 20px 0px;
}

#modalWorks {
	display: flex;
	flex-wrap: wrap;
	height: auto;
	width: 61.5%;
}

#modalWorks img {
	height: auto;
	width: 60px;
	margin: 10px 3px 6px 3px;
}

#photoSubmitDiv {
	border-top: 2px solid #D3D3D3;
	margin: 40px 102px 0px 102px;
	align-items: center;
}

#photoSubmit {
	margin: 40px 0px 40px 0px;
	padding: 5px 35px 5px 35px;
	background: #1D6154;
	color: white;
	border: none;
	border-radius: 40px;
	cursor: pointer;
}

#modalWorksDiv {
	display: flex;
	justify-content: center;
	
}

#closeOut {
	background: transparent;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 2;
}

/**** CSS fenetre ajout photo *****/
#modalPhoto {
	display: flex;
	background: white;
	flex-direction: column;
	width: 40%;
	height: 518px;
	border-radius: 5px;
	text-align: center;
	z-index: 4;
	position: absolute;
	display: none;
}

#closeDivPhoto {
	text-align: right;
	margin: 10px 10px 5px 10px;
}

#modalWorksReturn {
	margin: 0px 500px 0px 0px;
	border: none;
	background: white;
	height: 10px;
	font-weight: bold;
	cursor: pointer;
}

#modalClosePhoto {
	border: none;
	background: white;
	height: 10px;
	font-weight: bold;
	cursor: pointer;
}


#modalPhoto h3 {
	font-size: 1.5em;
	margin: 10px 0px 20px 0px;
}

#worksAjoutPhotoDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#worksAjoutPhoto {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 130px;
	width: 61.5%;
	margin: 0px 0px 20px 0px;
	background: #e9f5f8;
	justify-content: space-around;
}

#imageProjet {
	display: flex;
	position: absolute;
	height: 130px;
	width: auto;
	z-index: 5;
	max-width: 400px;
	cursor : pointer;
}

#logoAjoutPhoto {
	font-size: 4em;
	color: #b9d2da;
	margin: 5px 0px 0px 0px;
}

#lienAjoutPhoto {
	width: 50%;
	padding: 10px 0px 10px 0px;
	background: #b9d2da;
	color: #0d5483;
	border: none;
	border-radius: 40px;
	cursor: pointer;
	text-decoration: none;
}

#lienFile {
	display: none;
}

#maxMoAjoutPhoto {
	font-size: 0.8em;
	margin: 0px 0px 5px 0px;
}



/* Nom et categorie de l'image */
#titreInput {
	margin: 10px 0px 15px 0px;
}

#categorieSelect {
	margin: 10px 0px 0px 0px;
}

#ajoutPhotoInputDiv {
	display: flex;
	flex-direction: column;
	width: 61.5%;
	align-items: flex-start;
}

#titreInput {
	width: 99%;
	border: 0;
	box-shadow: 0px 0px 10px #D3D3D3; 
	height: 40px;
}

#categorieSelect {
	width: 100%;
	border: 0;
	box-shadow: 0px 0px 10px #D3D3D3; 
	height: 40px;
}



/* bouton submit */
#ajoutPhotoDiv {
	border-top: 2px solid #D3D3D3;
	margin: 30px 102px 0px 102px;
	align-items: center;
}

#ajoutPhoto {
	margin: 30px 0px 40px 0px;
	padding: 5px 70px 5px 70px;
	background: #1D6154;
	color: white;
	border: none;
	border-radius: 40px;
	cursor: pointer;
}

#worksAjoutPhotoDiv {
	display: flex;
	justify-content: center;
}